{
	email cristobal.sciutto@gmail.com
}

arquipelago.org {
	root * /home/root/www
	try_files {path}.html
	file_server
}

cristobal.arquipelago.org {
	root * /home/cristobal/www
	try_files {path}.html
	file_server
}

cristobal.space {
	root * /home/cristobal/www
	try_files {path}.html
	file_server
}

aventura.arquipelago.org {
	root * /home/aventura/www
	try_files {path}.html
	file_server
}

rafael.arquipelago.org {
	root * /home/root/www/rafael
	try_files {path}.html {path}.pdf /portfolio.pdf
	file_server
}

oobo.arquipelago.org {
	root * /home/root/www/oobo
	try_files {path}.html
	file_server browse
}

tato.arquipelago.org {
	root * /home/tato/www
	try_files {path}.html
	file_server
}

www.audiotato.com, audiotato.com {
	root * /home/tato/www
	try_files {path}.html
	file_server
}

screenshot.arquipelago.org {
	root * /home/root/www/screenshot
	try_files {path}.html
	file_server
}

qamnqn.arquipelago.org, qamnqn.org {
	root * /home/qamnqn/www/ubu.com
	try_files {path}.html {path} =404
	file_server

	handle_errors {
		@404 {
			expression {http.error.status_code} == 404
		}
		handle @404 {
			reverse_proxy https://ubu-mirror.ch {
				header_up Host ubu-mirror.ch
				transport http {
					tls
				}
			}
		}
	}
}
